/*body*/
* {
  box-sizing: border-box;
  /*border: solid 1px red;*/
}

body {
  background-color: #1F1E3D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
}

/*nav*/
nav {
  background-color: #1F1F3D;
  float: left;
  width: 22%;
}

.nav-quality {
  border-bottom: 1px solid #A9AAD2;
  display: flex;
  flex-direction: column;
}

.nav-text {
  border-bottom: 1px solid #A9AAD2;
  color: #ffffff;
  padding: 10px;
}

.nav-text-star {
  color: #ffffff;
  font-size: 17px;
  padding: 10px;
}

button {
  background-color: #1F1F3D;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

.nav-button {
  border: none;
  font-size: 15px
  height: 30px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.star-quality-btn {
  background-color: #5356A5;
  border: none;
  height: 30px;
  margin: 10px;
  text-align: center;
  width: 90%;
}

.quality-label {
  color: white;
  margin-left: 10px;
}

.quality-input {
  border: none;
  height: 30px;
  margin: 10px;
  width: 90%;
}

button:hover:enabled {
  background-color: #D14119;
}

button:disabled {
  background-color: #D1D2D4;
}

.title-input {
  border: none;
  height: 40px;
}

.save-button {
  background-color: #1F1F3D;
  border: none;
  color: #ffffff;
  font-size: 15px;
  height: 40px;
  margin-top: 15px;
  text-align: center;
}

#text-body {
  border: none;
  height: 100px;
}

section {
  background-color: #A9AAD2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
}

.search-container {
  display: flex;
  height: 40px;
  margin-top: 15px;
}

.search-icon {
  height: 100%; 
  width: 40px;
  background-color: #1F1F3D;
}

.search-input {
  border: none;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  margin: 10px;
  width: 500px;
}

/*main*/
main {
  background-color: #EAEAF4;
  display: grid;
  min-height: 100vh;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.prompt-idea {
  color: #1F1E3D;
  font-size: 25px;
  font-weight: 700;
  grid-column-start: 2;
  text-align: center;
}

/*article*/
article {
  background-color: white;
  border: 2px solid;
  height: 90%;
  margin: 20px;
  width: 90%;
}

h4 {
  height: 30px;
  margin: 10px;
}

header {
  background-color: #1f1f3d;
  display: flex;
  display: grid;
  grid-template-columns: auto auto;
}

#card-body{
  height: 180px;
  margin: 15px;
  padding: 5px;
  width: 90%;
}

footer {
  align-items: center;
  background-color: #A9AAD2;
  display: flex;
  height: 35px;
  justify-content: space-between;
}

.full-container {
  background-color: #1F1E3D
}

.inactive-button-star {
  float: left;
  height: 30px; 
  width: 30px;
}

.inactive-button-x {
  float: right;
  height: 30px;
  width: 30px;
}

.inactive-button-upvote {
  float: left;
  height: 30px; 
  width: 30px;
}

.inactive-button-downvote {
  float: right;
  height: 30px;
  width: 30px;
}

.quality-information {
  margin: none;
}

/*media query*/

@media screen and (max-width: 850px) {

  main {
    display: block;
    float: right;
    width: 645px;
  }

  article {
    display: block;
    margin: 0px;
    width: 100%;
  }
}