/*body*/
* {
  box-sizing: border-box;
  /*border: solid 1px red;*/
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*nav*/
nav {
  background-color: #1F1F3D;
  float: left;
  height: 100vh;
  width: 20%;
}

.nav-quality {
  display: flex;
  flex-direction: column;
}

.nav-text {
  border-bottom: 2px solid #A9AAD2;
  color: #ffffff;
  padding: 10px;
}

.nav-text-star {
  color: #ffffff;
  padding: 10px;
}


button {
  background-color: #1F1F3D;
  color: #ffffff;
  text-align: left;
  width: 100%;
}

.nav-button {
  height: 30px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.star-quality-btn {
  background-color: #5356A5;
  height: 30px;
  margin: 10px;
  text-align: center;
  width: 90%;
}

.quality-label {
  margin-left: 10px;
  color: white;
}

.quality-input {
  height: 30px;
  margin: 10px;
  width: 90%;
}

button:hover:enabled {
  background-color: #D14119;
}

.title-input {
  height: 25px;
}

.save-button {
  background-color: #1F1F3D;
  color: #ffffff;
  font-size: 15px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
}

#text-body {
  height: 65px;
}

section {
  background-color: #A9AAD2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  height: 300px;
}

.search-container {
  display: flex;
  margin-top: 15px;
}

.search-icon {
  height: 100%;
}

.search-input {
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  width: 350px;
  margin: 10px;
}

/*main*/
main {
  height: 68.8vh;
  background-color: #EAEAF4;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*article*/
article {
  background-color: white;
  border: 2px solid;
  height: 300px;
  margin: 10px;
  width: 250px;
}

h4 {
  margin: 10px;
}

header {
  background-color: #1f1f3d;
}

#card{
  height: 155px;
  margin: 10px;
}

footer {
  background-color: #A9AAD2;
  display: flex;
  align-items: center;
  
}

.quality-text {
  width: 100px;
}

.search-icon {
  height: 30px; 
  width: 30px;
  background-color: #1F1F3D;
}

.active-button-star {
  height: 30px; 
  width: 30px;
}


.inactive-button-star {
  height: 30px; 
  width: 30px;
}

.active-button-x {
  height: 30px; 
  float: right;
  width: 30px;
}

.inactive-button-x {
  height: 30px; 
  float: right;
  width: 30px;
}

.active-button-upvote {
  height: 30px; 
  float: left;
  width: 30px;
}

.inactive-button-upvote {
  height: 30px; 
  float: left;
  width: 30px;
}

.active-button-downvote {
  height: 30px; 
  float: right;
  width: 30px;
}

.inactive-button-downvote {
  height: 30px; 
  float: right;
  width: 30px;
}

.search-icon {
  height: 30px;
  width: 30px;
}